aiosqlite
librosa
mss
numpy
opencv-python
pip-tools
pygetwindow
pywin32
scikit-image
sounddevice
websockets
# torch torchvision torchaudio --index-url https://download.pytorch
.org/whl/cu121 (check the website for cuda version)