aiosqlite
google-cloud-speech
librosa
matplotlib
mss
numpy
opencv-python
pip-tools
pyaudio
python-dotenv
pygetwindow
pywin32
scikit-image
sounddevice
websockets

--index-url https://download.pytorch.org/whl/cu121

torch
torchaudio
torchvision
